<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>80B  Nest</title>
    </head>
    <body>
        <h1>80B 'Nest'</h1>
        <meta http-equiv="refresh" content="300">
        <pre>
<strong>Current Status</strong>
    Uptime:         {{.Uptime}}
    Furnace:        {{.FurnaceState}}
    People Home?    {{.HouseOccupied}}
    Current Temp:   {{.CurrentTempC}} °C
                    {{.CurrentTempF}} °F

<strong>People Home?</strong><table border="0">
{{range .People}}<tr><td>    </td><td>{{.Name}}</td><td>{{.IsHome}}</td><td>(Last seen {{.SeenDuration.String}} ago)</td></tr>
{{end}}</table>
<strong>Settings</strong>
    Occupied temp:      {{.MinActiveTempC}} °C
                        {{.MinActiveTempF}} °F
    Unoccupied temp:    {{.MinIdleTempC}} °C
                        {{.MinIdleTempF}} °F
    Override:    {{.OverrideState}}

    {{ if .Override }}
    <a href='/?override=off'>Turn off override</a>
    {{ else }}
    <a href='/?override=on'>Turn on heat for 20 minutes</a>
    {{ end }}
    {{ if .ShowGraph }}
    <a href='/?graph=off'>Hide Graph</a>
    {{ else }}
    <a href='/?graph=on'>Show Graph</a>
    {{ end }}

        </pre>

        {{ if .ShowGraph }}
        <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['annotationchart']}]}"></script>
        <center>
            <div style="width: 1200px; height: 650px;" id="chart_div" style="width: 1000px; height: 1000px;"></div>
        </center>
        <script type='text/javascript'>
google.load('visualization', '1', {'packages':['annotationchart']});
google.setOnLoadCallback(drawChart);

function drawChart() {

    // Create and populate the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Date');
    data.addColumn('number', 'Temperature (°C)');
    data.addColumn('number', 'Pressure (mBar)');
    data.addColumn('number', 'People Home');
    {{ range .History }}
        data.addRow([new Date({{.Time}}*1000), {{.Temp}}, {{.Pressure}}, undefined]);
    {{end}}
    {{ range .PeopleHistory }}
        data.addRow([new Date({{.Time}}*1000), undefined, undefined, {{.Count}}]);
    {{end}}
    // Create and draw the visualization.
    chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'))
        chart.draw(
                data,
                {
                    scaleColumns: [0, 1, 2],
                    displayAnnotations: true,
                    curveType: "function",
                    chart: {
                        interpolateNulls: true,
                    },
                    vAxes: {
                        0: {logScale: false, title: "Temperature"},
                        1: {logScale: false, title: "Pressure"},
                        2: {logScale: false, title: "People"}
                    },
                    series:{
                        0:{targetAxisIndex:0},
                        1:{targetAxisIndex:1},
                        2:{targetAxisIndex:2}
                    }
                }
                );
}

        </script>
        {{end}}

    </body>


</html>


